<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Robo</title>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
</head>
<body>
<div class="container">
        <div class="robot-section">
            <h2>Robot</h2>
            <p>Opis sekcji Robot</p>
        {% if connected %}
        <h1>Status: Connected</h1>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Breake release">
        </form>
    {% else %}
        <h1>Status: Not Connected</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="robot_ip">Robot IP:</label>
        <input type="text" id="robot_ip" name="robot_ip">
        <input type="submit" value="Connect">
    </form>
    </div>

    
    <div class="printer-section">
        <h2 class="printer-name">Drukarka</h2>
        <p class="printer-status" id="printer-status">Status drukarki: </p>
        <div class="printer-subcontainer">
            <img class="printer-webcam" src="http://192.168.0.27/webcam/?action=stream">
            <div class="printer-info">
                <p class="printer-filament">Filament:</p>
                <p class="printer-htemp">Temperatura:</p>
                <p class="printer-btemp">Temperatura:</p>
            </div>
        </div>

        <p class="printer-gcode">Nazwa pliku.gcode</p>
        <div class="printer-progress">
            <p class="progressbar">10%</p>
        </div>
        <p class="printer-printtime"></p>
        <button class="printer-more">Więcej</button>
        <button class="printer-settings">123</button>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>